# Created by .ignore support plugin (hsz.mobi)
.idea/
target/generated-sources/
target/generated-test-sources/
target/maven-status/
target/surefire-reports/
commsearch-service-tests.iml
target/classes/comm/service/model/RestAssuredConfig.class
/commsearch-service-tests.iml
target/
/commsearch-restful-integration-tests.iml
